libxmlbus/data/wsaddr-testset/documents/wsdl11/wsaTestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- $Id: wsaTestService.wsdl,v 1.4 2005/12/21 20:50:30 pdowney Exp $ -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:s0="http://example.org/notify" 
  xmlns:s1="http://example.org/echo" 
  xmlns:service="http://example.org/wsaTestService"
  xmlns:wsaw="http://www.w3.org/@@@@/@@/addressing/wsdl"
  targetNamespace="http://example.org/wsaTestService">

  <types>
    <xs:schema targetNamespace="http://example.org/notify" 
      elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name='notify' type='xs:string'/>
    </xs:schema>

    <xs:schema targetNamespace="http://example.org/echo" 
      elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name='echoIn' type='xs:string'/>
	<xs:element name='echoOut' type='xs:string'/>
    </xs:schema>
  </types>

  <message name="wsaNotifyMessage">
    <part name="wsaNotifyMessagePart" element="s0:notify"/>
  </message>

  <message name="wsaEchoInMessage">
    <part name="wsaEchoInPart" element="s1:echoIn"/>
  </message>
	
  <message name="wsaEchoOutMessage">
    <part name="wsaEchoOutPart" element="s1:echoOut"/>
  </message>
	
  <portType name="wsaTestPortType">
    <operation name="notify">
      <input message="service:wsaNotifyMessage"
	wsaw:Action="http://example.org/action/notify"/>
    </operation>

    <operation name="echoIn">
      <input message="service:wsaEchoInMessage"
	wsaw:Action="http://example.org/action/echoIn"/>
    </operation>

    <operation name="echoOut">
      <input message="service:wsaEchoOutMessage"
	wsaw:Action="http://example.org/action/echoOut"/>
    </operation>

  </portType>
	
  <binding name="wsaTestSoap11Binding" type="service:wsaTestPortType">
    <soap:binding style="document" 
	transport="http://schemas.xmlsoap.org/soap/http"/>
	<operation name="notify">
	  <soap:operation style="document" soapAction=""/>
	  <input>
	      <soap:body use="literal"/>
	  </input>
	</operation>

	<operation name="echoIn">
	  <soap:operation style="document" soapAction=""/>
	  <input>
	      <soap:body use="literal"/>
	  </input>
	</operation>

	<operation name="echoOut">
	  <soap:operation style="document" soapAction=""/>
	  <input>
	      <soap:body use="literal"/>
	  </input>
	</operation>

    </binding>
    
    <service name="wsaTestService">
      <port name="wsaTestPort" binding="service:wsaTestSoap11Binding">
	  <soap:address location="http://example.org/node/B"/>
      </port>
    </service>
</definitions>
